:root {
    --primary: #F0F8FF;
    --secondary:  #59acff;
    --light-dark: #71a2fc;
    --dark: #58a1d6;
    --border-radius: .3rem;
  }

* {
    box-sizing: border-box;
}

body {
    background-image: url("./assets/clouds.jpg");
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  
  header {
      background-color: var(--dark);
      padding: 8px;
  }

  .sub-header {
      float: right;
      color: var(--dark);
      margin-right: 10px;
  }

  h1 {
      color: var(--primary);
  }

 h2, h3 {
      margin: 0;
      color: var(--dark);
      line-height: 1.25;
      font-weight: bold;
  }

 main {
     margin: 20px auto;
     width: 94%; 
 } 

 p {
     font-size: 1.2rem;
 }

 .form {
     margin: auto;
     margin-bottom: 10px;
 }

 .form-input {
     width: 100%;
     padding: 8px;
     border-radius: 8px;
 }

 .searchBtn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
 }

 .searchBtn:hover {
    color: var(--secondary);

 }

 .list-group {
     display: none;
     border: 3px solid var(--dark);
     background-color: white;
     padding: 8px;
     list-style: none;
 }

 .listParams {
    border: 3px solid var(--dark);
    background-color: white;
    padding: 8px;
    list-style: none;
 }

 /*for md screen*/
@media screen and (min-width: 768px) {
    .card {
        width: 50%;
    }
}
/*for lg screen*/
@media screen and (min-width: 992px) {
    .card {
        width: 25%;
    }
    .form {
        margin: revert;
        margin-bottom: 10px;
    }
}